[submodule "debian-base/shared-terminal-settings"]
	path = debian-base/shared-terminal-settings
	url = ../../william-marchetto/shared-terminal-settings.git
[submodule "container-dotfiles"]
	path = container-dotfiles
	url = https://github.com/brav0charlie/container-dotfiles
[submodule "ubuntu-base-arm64/container-dotfiles"]
	path = ubuntu-base-arm64/container-dotfiles
	url = https://github.com/brav0charlie/container-dotfiles.git
[submodule "ubuntu-base-aarch64/container-dotfiles"]
	path = ubuntu-base-aarch64/container-dotfiles
	url = https://github.com/brav0charlie/container-dotfiles.git
